body {
    background-color: rebeccapurple;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

#navbar {
    background-color: white;
}

#signup-form {
    background-color: white;
    width: 300px;
    margin: auto;
}

.nav-links {
    text-align: right;
}

.social-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#social a {
    text-decoration: none;
}